
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.356);
}
header {
    position: relative; /* Para permitir o posicionamento absoluto do texto */
}

header {
    position: relative; /* Para permitir o posicionamento absoluto do texto */
}

.imagem-container {
    position: relative; /* Contêiner para manter a imagem e o texto juntos */
}

.textoImagem {
    position: absolute; /* Permite posicionar o texto sobre a imagem */
    bottom: 10px; /* Espaço do fundo da imagem */
    left: 10px; /* Espaço da esquerda da imagem */
    color: white; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    text-align: left; /* Alinha o texto à esquerda */
    padding: 5px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas, opcional */
}



.text{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
nav a:hover{
    color: aliceblue;
    padding: 1px;
    background-color: rgb(211, 17, 221) ;
    border-radius: 0; 
    transition: border-radius 0.5s ease; 
    border-radius: 5px; 
}
.lore{
    text-align: center;
    font-family: "Cormorant SC", serif;
     font-weight: 700;
    font-style: normal;
}
.titulo-lore{
    margin-top: 20px;
    font-family: "Water Brush", cursive;
    font-size: 50px;
    font-style: normal;
}

.titulo-skins{
    margin-top: 50px;
    text-align: center;
    font-family: "Water Brush", cursive;
    font-style: normal;
    font-size: 50px;
}
.main{
    font-family: "Water Brush", cursive;
    font-size: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.picture {
    display: inline-block; 
    text-align: center;

}

.picture img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.picture:hover img {
    box-shadow: 0 0 15px rgb(255, 255, 0);
    border-radius: 50%;
    transform: scale(1.1); 
    
}
h3{
    margin-top: 50px;
}
.video-morgana{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 50px;
}
div{
    margin-top: 50px;
    text-align: center;
}
footer{
    text-align: center;
}


